.person-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-info {
  width: auto;
  height: auto;
  padding: 16px 8px;
  margin: 20px 0 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px 2px rgba(10, 17, 22, 0.2);
  width: 620px;
  max-width: 88vw;
  border-radius: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    // border: 3px solid #202c3d;
    box-shadow: 0px 0px 15px 5px rgba(10, 17, 22, 0.2);

    object-fit: cover;
    margin-left: 10px;
  }

  .name {
    width: calc(100% - 160px);
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: #202c3d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 8px;
    }
  }
}

.add-info {
  width: auto;
  height: auto;
  padding: 8px 8px;
  margin: 10px 0 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px 2px rgba(10, 17, 22, 0.2);
  width: 620px;
  max-width: 88vw;
  border-radius: 24px;

  .alive-date {
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: #505d6e;
  }

  .bio {
    margin: 8px 12px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #2a3a4d;
    text-align: justify;
  }
}

.album {
  width: auto;
  height: auto;
  padding: 8px 8px;
  margin: 10px 0 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px 2px rgba(10, 17, 22, 0.2);
  width: 620px;
  max-width: 88vw;
  border-radius: 24px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  transition: height 2s;

  .album-photo {
    height: 140px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
  }

  .add {
    font-size: 30px;
    font-weight: 700;
  }

  .album-add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 100px;
    border-radius: 10px;
    // visibility: hidden;
  }
  input {
    height: 0;
    width: 0;
  }
  p {
    width: 50px;
    height: 50px;
    background-color: #b8b8b8;
    border-radius: 10px;
    color: #fffefe;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.current-photo {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: rgb(27, 26, 26);
}

.listing {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100vw;

  .left,
  .right {
    width: 50vw;
    height: 60vh;
    display: flex;
    align-items: center;
  }

  .left {
    justify-content: flex-start;
  }
  .right {
    justify-content: flex-end;
  }

  .wrapper-cont {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.419);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px;
  }
}

.tree {
  width: auto;
  height: auto;
  padding: 8px 8px;
  margin: 10px 0 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px 2px rgba(10, 17, 22, 0.2);
  width: 620px;
  max-width: 88vw;
  border-radius: 24px;

  .tree-title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    margin: 8px 0 12px;
    color: #505d6e;
  }

  .tree-nodes-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}
