.main_header {
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 5px 8px -2px #cfd5d899;
}

header .container {
  height: 100px;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
